<div class="center">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.email_field :email, autofocus: true, class: "input", placeholder: "email" %></div>

  <div>
    <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: "password" %></div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "input", placeholder: "confirm password" %></div>

  <div><%= f.submit "Sign up", class: "btn btn-success spacer" %></div>
<% end %>
</div>
