<div class="container-fluid centered">
  <div>
    <%= render 'layouts/form' %>
  </div>

  <div class="content-wrapper">
    <div class="reddit">
      <div class="col-xs-6 col-md-4">
        <h5 class="sec-heading"><span class="pennant"><span class="fa fa-reddit fa-6"></span></span></br></h5>
        <h3 class="sub-head"><%=link_to "#{params[:q]}", "http://www.reddit.com/search?q=#{@reddit_query}&sort=new", target: "_" %></h3>
        <div class="headline_list">
          <% @fetch_reddit.each do |url| %>
            <div class="row"><%= link_to "", "#", class: "fa fa-thumbs-o-up "%>
              <%= link_to url[:content], url[:href], target: '_' %></div>
              <div class="line"></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="twitter">
      <div class="col-xs-6 col-md-4">
        <h5 class="sec-heading"><span class="pennant pennant-alt2"><span class="fa fa-twitter fa-6"></span></span></br></h5>
        <h3 class="sub-head"> <%= link_to "#{params[:q]}", "https://twitter.com/search?f=realtime&q=#{@tweet_query}&src=typd", target: "_"%></h3>
        <div class="headline_list">
          <% @tweets.each do |tweet| %>
            <% tweet = tweet.sub(';','') %>
            <!--<% if tweet.include?('@') %>
              <% users = tweet.scan(/@([a-z0-9_]+)/i).join(' ') %>
              <% @user = users.split[0] %>
            <% elsif tweet.include?(" @ ") %>
              @user = "twitter"
            <% else %>
              <% @user = "twitter" %>
            <% end %>
            <% @user_link = "http://twitter.com/#{@user}"%>-->
            <% @url = URI.extract(tweet) %>
            <% @url.each do |url|%>
              <% if url.include?('http') %>
                <% link = url.sub(';','') %>
                <div class="row"><%= link_to "", "#", class: "fa fa-thumbs-o-up "%>
                 <%= tweet.sub("#{link}", '') %>
                <%= link_to "http://t.co...",  "#{link}", target: "_" %>
                <!--<% unless @user == "twitter" %>
                  <p class="author"><%= link_to "-#{@user}", @user_link, class: "user", target: "_" %></p>
                <% end %>-->
                </div>
                <div class="line"></div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="hn_news">
      <div class="col-xs-6 col-md-4">
        <h5 class="sec-heading"><span class="pennant pennant-alt"><span class="fa fa-hacker-news fa-6"></span></span></br></h5>
        <h3 class="sub-head"><%= link_to "#{params[:q]}", "http://news.ycombinator.com", target: "_"%></h3>
        <div class="headline_list">
          <% @fetch_hn.each do |url| %>
            <div class="row"><%= link_to "", "#", class: "fa fa-thumbs-o-up "%>
            <%= link_to url[:content], url[:href], target: '_' %></div>
            <div class="line"></div>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</div>
