<div class="container-fluid centered">
  <div>
    <%= render 'layouts/form' %>
  </div>

  <div class="content-wrapper">
    <div class="reddit">
      <div class="col-xs-6 col-md-4">
        <h5 class="sec-heading">Reddit:</br><%=link_to "#{@reddit_query}", "http://reddit.com/r/#{@reddit_query}", target: "_" %></h5>
        <div class="headline_list">
          <% @fetch_reddit.each do |url| %>
            <div class="row"><%= link_to "", "#", class: "glyphicon glyphicon-cloud"%>
              <%= link_to url[:content], url[:href], target: '_' %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="hn_news">
      <div class="col-xs-6 col-md-4">
        <h5 class="sec-heading">Hacker News:</br>(work in progress)</h5>
        <div class="headline_list">
          <% @fetch_hn.each do |url| %>
            <div class="row"><%= link_to "", "#", class: "glyphicon glyphicon-cloud"%>
            <%= link_to url[:content], url[:href], target: '_' %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="twitter">
      <div class="col-xs-6 col-md-4">
        <h5 class="sec-heading">Twitter:</br><%= link_to "#{params[:q]}", "https://twitter.com/search?q=#{@tweet_query}&src=typd", target: "_"%>:</h5>
        <div class="headline_list">
          <% @tweets.each do |tweet| %>
            <% url = URI.extract(tweet).join(' ') %>
            <% if tweet.include?('http') && url.length > 15 %>
              <% link = url.match(/https?:\/\/[\S]+/) %>
              <div class="row"><%= link_to "", "#", class: "glyphicon glyphicon-cloud"%>
                <%= tweet.sub("#{link}", '') %>
              <%= link_to "#{link}",  "#{link}", target: "_" %></div>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
