<div class="container-fluid centered">
  <div>
    <%= render 'layouts/form' %>
  </div>

  <div class="content-wrapper">
    <div class="reddit">
      <div class="col-xs-6 col-md-4">
        <h5 class="sec-heading"><span class="pennant"><span class="fa fa-reddit fa-6"></span></span></br></h5>
        <h3 class="sub-head"><%=link_to "#{params[:q]}", "http://www.reddit.com/search?q=#{@reddit_query}&sort=new", target: "_" %></h3>
        <div class="headline_list">
          <% @fetch_reddit.each do |url| %>
            <div class="row"><%= link_to "", "#", class: "fa fa-thumbs-o-up "%>
              <%= link_to url[:content], url[:href], target: '_' %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="twitter">
      <div class="col-xs-6 col-md-4">
        <h5 class="sec-heading"><span class="pennant pennant-alt2"><span class="fa fa-twitter fa-6"></span></span></br></h5>
        <h3 class="sub-head"> <%= link_to "#{params[:q]}", "https://twitter.com/search?q=#{@tweet_query}&src=typd", target: "_"%></h3>
        <div class="headline_list">
          <% @tweets.each do |tweet| %>
            <% url = URI.extract(tweet).join(' ') %>
            <% if tweet.include?('http') && url.match(/^http/)%>
              <% link = url.sub(';',' ')%>
              <div class="row"><%= link_to "", "#", class: "fa fa-thumbs-o-up "%>
                <%= tweet.sub("#{link}", '') %>
              <%= link_to "#{link}",  "#{link}", target: "_" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="hn_news">
      <div class="col-xs-6 col-md-4">
        <h5 class="sec-heading"><span class="pennant pennant-alt"><span class="fa fa-hacker-news fa-6"></span></span></br></h5>
        <h3 class="sub-head"><%= link_to "#{params[:q]}", "http://news.ycombinator.com", target: "_"%></h3>
        <div class="headline_list">
          <% @fetch_hn.each do |url| %>
            <div class="row"><%= link_to "", "#", class: "fa fa-thumbs-o-up "%>
            <%= link_to url[:content], url[:href], target: '_' %></div>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</div>
