<!DOCTYPE html>
<html>
<head>
  <title>NokoTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Redtch</h1>
<h4>A Nokogiri & Mechanize test</h4>
  <div>
    <%= render 'layouts/form' %>
  </div class="results">
  <div>
      <%= yield %>
  </div>

</body>
</html>
